@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loading {
  animation: loading 1s linear infinite;
}

.bg-red-theme {
  background-color: #f90716;
}

.bg-dark-grey-theme {
  background-color: #252525;
}

.bg-lighter-grey-theme {
  background-color: #393e46;
}

.large-banner {
  max-width: 2160px;
  min-height: 840px;
  width: 100%;
  box-shadow: 1px 1px 10px black;
  overflow: hidden;
}

.medium-banner {
  max-width: 940px;
  min-height: 426px;
  width: 100%;
  box-shadow: 1px 1px 10px black;
  overflow: hidden;
}

.small-banner {
  min-height: 264px;
  width: 100%;
  box-shadow: 1px 1px 5px black;
  overflow: hidden;
}

img {
  max-width: 100%;
}

button {
  background-color: red;
  padding: 8px 16px 8px 16px;
  border-radius: 32px;
  color: white;
  font-weight: bold;
  transition: 0.1s ease-in-out;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

button:active {
  background-color: red;
}

a {
  width: min-content;
  transition: 0.25s ease-in-out;
}

.nav-links a:hover {
  color: rgb(255, 80, 80);
}
